@model HRM.Models.Employee

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.empId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empId)
                @Html.ValidationMessageFor(model => model.empId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fname)
                @Html.ValidationMessageFor(model => model.fname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lname)
                @Html.ValidationMessageFor(model => model.lname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.addressStreet, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.addressStreet)
                @Html.ValidationMessageFor(model => model.addressStreet)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.addressCity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.addressCity)
                @Html.ValidationMessageFor(model => model.addressCity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.addressZip, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.addressZip)
                @Html.ValidationMessageFor(model => model.addressZip)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.emailOne, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.emailOne)
                @Html.ValidationMessageFor(model => model.emailOne)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.emailTwo,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.emailTwo)
                @Html.ValidationMessageFor(model => model.emailTwo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.photo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.photo)
                @Html.ValidationMessageFor(model => model.photo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dob, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dob)
                @Html.ValidationMessageFor(model => model.dob)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone)
                @Html.ValidationMessageFor(model => model.phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.deptId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.deptId)
                @Html.ValidationMessageFor(model => model.deptId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.desigId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.desigId)
                @Html.ValidationMessageFor(model => model.desigId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.joiningDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.joiningDate)
                @Html.ValidationMessageFor(model => model.joiningDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
